*{
    margin: 0;
    padding: 0;
    word-break: break-word;
}
user agent stylesheet
div{
    display: block;
}
body{
    font: 14px/1.5 "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    min-height: 1000px;
    background-color: transparent;
}
ol, ul {
    list-style: none;
}
.noticeMain {
    position: relative;
    width: 860px;
    min-height: 600px;
    margin: 30px auto;
    background: #FFFFFF;
    box-shadow: 0 0 8px 0 #DADEE6;
    border-radius: 8px;
    padding: 0 30px 0;
}
.data_empty {
    font-size: 14px;
    color: #A8A8B3;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    padding-top: 170px;
}
.Jobcontent-div {
    margin-top: 22px;
    padding: 10px 30px 0;
}
.task-ueditor textarea {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px 30px;
}

.Jobcontent-div .title {
    font-size: 22px;
    color: rgb(61, 64, 89);
    margin-bottom: 22px;
    line-height: 22px;
}

.detail-content-stu-update{
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,33,79,.1);
    border-radius: 6px;
    width: 1200px;
    padding: 30px 0 60px;
    margin: 87px auto 30px;
}

.detail-content .title {
    font-size: 22px;
    color: #3d4059;
    letter-spacing: 0;
}

.detail-content .detail-text {
    font-size: 16px;
    color: #3d4059;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 25px;
    max-width: 814px;
}

.Submissionbutton-div {
    width: 840px;
    text-align: center;
    margin: 20px 0;
}
.Submissionbutton-div span {
    width: 160px;
    height: 40px;
    display: inline-block;
}
.Submissionbutton-div .Submissionbtngreen {
    background: #5de6ca;
    width: 100px;
    height: 48px;
    line-height: 44px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
}
/*.dataBody_item {*/
/*    padding: 0 0 0 20px;*/
/*    border-bottom: 0;*/
/*}*/
/*.dataBody_td {*/
/*    position: relative;*/
/*    float: none;*/
/*    min-height: 54px;*/
/*    padding: 9px 30px 9px 20px;*/
/*    font-size: 12px;*/
/*    color: #646873;*/
/*    box-sizing: border-box;*/
/*    user-select: none;*/
/*}*/
/*.dataBody_item .dataBody_file {*/
/*    height: 42px;*/
/*    margin-right: 14px;*/
/*    margin-top: 17px;*/
/*    top: 0;*/
/*}*/
/*.dataBody_item .dataBody_infor .dataBody_text {*/
/*    line-height: 20px;*/
/*}*/
/*.dataBody_file {*/
/*    position: relative;*/
/*    float: left;*/
/*    height: 30px;*/
/*    top: 3px;*/
/*    margin-right: 14px;*/
/*    z-index: 3;*/
/*}*/
/*.dataBody_item .dataBody_file img {*/
/*    width: 42px;*/
/*    height: 42px;*/
/*}*/
/*.dataBody_file img {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    display: block;*/
/*    border-radius: 3px;*/
/*}*/
/*.dataBody_item .dataBody_infor {*/
/*    padding: 17px 30px 18px 0;*/
/*    margin-left: 56px;*/
/*    border-bottom: 1px solid #F2F2F2;*/
/*    cursor: pointer;*/
/*    min-height: 42px;*/
/*    display: -webkit-box;*/
/*    display: -moz-box;*/
/*    display: -ms-flexbox;*/
/*    -webkit-box-align: center;*/
/*    -moz-box-align: center;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*.dataBody_item .dataBody_infor_vAlign {*/
/*    width: 100%;*/
/*}*/
/*.dataBody_item .dataBody_infor .dataBody_text {*/
/*    line-height: 20px;*/
/*}*/

/*.dataBody_item .dataBody_infor .dataBody_text .notice_unread {*/
/*    position: relative;*/
/*}*/
/*.dataBody_item .dataBody_infor .dataBody_text .notice_time {*/
/*    font-size: 12px;*/
/*    color: #A8A8B3;*/
/*}*/
/*.dataBody_item .dataBody_infor .dataBody_text .notice_title { float: left; max-width: calc(100% - 460px); font-size: 16px; color: #181E33; overflow: hidden; text-overflow: ellipsis; }*/
/*.dataBody_item .dataBody_infor .dataBody_text .notice_title:hover { color: #3A4B87; }*/
/*.dataBody_item .dataBody_receiver {*/
/*    font-size: 12px;*/
/*    line-height: 17px;*/
/*    color: #A8A8B3;*/
/*    margin-top: 4px;*/
/*}*/
/*.dataBody_item .dataBody_receiver .receiver {*/
/*    margin-right: 26px;*/
/*    max-width: calc(100% - 490px);*/
/*    overflow: hidden;*/
/*    white-space: nowrap;*/
/*    text-overflow: ellipsis;*/
/*}*/
/*.dataBody_item .dataBody_receiver > span {*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*}*/
/*.dataBody_item {*/
/*    padding: 0 0 0 20px;*/
/*    border-bottom: 0;*/
/*}*/
/*.dataBody_td {*/
/*    position: relative;*/
/*    float: none;*/
/*    min-height: 54px;*/
/*    padding: 9px 30px 9px 20px;*/
/*    font-size: 12px;*/
/*    color: #646873;*/
/*    box-sizing: border-box;*/
/*    user-select: none;*/
/*}*/
/*.dataBody_item .dataBody_file {*/
/*    height: 42px;*/
/*    margin-right: 14px;*/
/*    margin-top: 17px;*/
/*    top: 0;*/
/*}*/
/*.dataBody_file {*/
/*    position: relative;*/
/*    float: left;*/
/*    z-index: 3;*/
/*}*/

/*.dataBody_item .dataBody_infor {*/
/*    padding: 17px 30px 18px 0;*/
/*    margin-left: 56px;*/
/*    border-bottom: 1px solid #F2F2F2;*/
/*    cursor: pointer;*/
/*    min-height: 42px;*/
/*    display: -webkit-box;*/
/*    display: -moz-box;*/
/*    display: -ms-flexbox;*/
/*    -webkit-box-align: center;*/
/*    -moz-box-align: center;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*.dataBody_item {*/
/*    padding: 0 0 0 20px;*/
/*    border-bottom: 0;*/
/*}*/
/*.dataBody_td {*/
/*    position: relative;*/
/*    float: none;*/
/*    min-height: 54px;*/
/*    padding: 9px 30px 9px 20px;*/
/*    font-size: 12px;*/
/*    color: #646873;*/
/*    box-sizing: border-box;*/
/*    user-select: none;*/
/*}*/
/*.newNoticeList {*/
/*    position: fixed;*/
/*    right: 20px;*/
/*    bottom: 0;*/
/*    z-index: 10;*/
/*}*/
/*.dataBody_td:hover { background: #F7FAFC; }*/
.fr {
    float: right;
}
.clearfix {
    overflow: hidden;
    zoom: 1;
}
.clearfix:after {
    content: "\20";
    display: block;
    height: 0px;
    clear: both;
}