 @charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
body{font:12px/1.5 微软雅黑, 黑体, Arial, Helvetica, sans-serif;overflow-x: auto;-webkit-font-smoothing: antialiased;}
table{width:100%; border:0; border-collapse:collapse; border-spacing:0;}
table th{font-weight:normal;}
ul,ol,li{list-style-type:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
input,select,textarea{vertical-align:middle; color:#000;border:none;border:0; outline:none; resize:none;}
a{text-decoration:none;}
b,i,strong,em{font-weight:normal; font-style:normal;}
img{ border:0;}
.fr{float:right}
.fl{float:left}
.clear{clear:both}
.clearfix{zoom:1;overflow:hidden}
/*input-placeholder-color*/
::-webkit-input-placeholder{ color: #E1E1E5; text-overflow: ellipsis;}
:-moz-placeholder{ color: #E1E1E5 !important; text-overflow: ellipsis;}
::-moz-placeholder{ color: #E1E1E5 !important; text-overflow: ellipsis;}
:-ms-input-placeholder{ color: #E1E1E5 !important; text-overflow: ellipsis;}



/*padding,margin值*/
.pad30lr{padding:0 30px;}
.padTop30{padding-top:30px;}
.marginRight30{margin-right:30px;}
.padBom20{padding-bottom:20px;}
/**********公共文字颜色*************/
.textHidden{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
/*color*/
.colorDeep{ color:#181E33;}/*一级文字 深色*/
.colorIn{ color:#646873;}/*二级文字 适中*/
.colorShallow{ color:#A8A8B3;}/*三级文字 浅色*/
.colorBlue_click{ color:#91a0b5;}/*可点击文字 蓝色*/
.colorBlue{ color:#3A8BFF;}/*蓝色*/
/******border**********/
.borderBom1{border-bottom:1px solid #F2F2F2;}

/************渐变按钮样式************/
.jb_btn{display:inline-block;box-shadow: 0 3px 12px 0 rgba(39,125,255,0.30);color: #FFFFFF;text-align:center;line-height:36px;border-radius: 20px;}
.jb_btn_92{width:92px;height:36px;background:url(/res/pc/images/notice/jb_btn_92.png) no-repeat 0 0;}
.jb_btn_92:hover{background-position:0 -48px;}
.jb_btn_92:active{background-position:left -96px}
.jb_btn_92_disable{width:92px;height:36px;background:url(/res/pc/images/notice/jb_disable.png) no-repeat;box-shadow: 0 4px 11px 0 rgba(86,82,255,0.17);
border-radius: 20px;}
.jb_btn_104{width:104px;height:36px;background:url(/res/pc/images/notice/jb_btn_104.png) no-repeat 0 0;}
.jb_btn_104:hover{background-position:0 -48px;}
.jb_btn_104:active{background-position:left -96px}
.jb_btn_168{width:168px;height:44px;line-height:44px;background:url(/res/pc/images/notice/jb_btn_168.png) no-repeat 0 0;}
.jb_btn_168:hover{background-position:0 -56px;}
.jb_btn_168:active{background-position:left -112px}

.btnBlue{border: 1px solid #94C1FF;border-radius: 20px;display:inline-block;width:90px;height:34px;text-align:center;line-height:34px;color: #3A8BFF;}
.btnBlue:hover{background: #EAF0FF;}
.btnBlue:active{background: #E4ECFF;}
.btn_92_cancel:hover{background:none}
.btn_92_cancel:active{background:none}
.btn_104{width:102px;}
.btn_92{width:90px;}


/*搜索*/
.dataSearch{ width:200px; height:36px; border-radius:40px;position:relative}
.dataSearch_input{ width:170px; height:34px;font-size:14px; color:#181E33;  border:1px solid #E5E5E5;background:none;position:absolute;left:0;top:0;z-index:2;padding:0 14px; border-radius:40px;}
.dataSearch_bnt{ width:18px; height:18px;background:url(/res/pc/images/notice/search_ico.png) no-repeat center; border:0 none; cursor:pointer;position:absolute;right:14px;top:8px;z-index:3;outline:none}
.dataSearch_input:hover{border: 1px solid #CCDEF3;}
.dataSearch_input:focus {outline:none;border: 1px solid #CCDEF3;box-shadow: 0 0 4px 0 #75BAFF;border-radius: 40px;}
.dataSearch:hover .dataSearch_bnt{opacity:0.7}
/*位置路径*/
.RoutePosiiton{width:100%;line-height:40px;padding-top:10px;}
.dataNum{ color:#A8A8B3; }
.breadcrumb{ display:table;}
.breadcrumb>li{ color:#a8a8b3; float:left;}
.breadcrumb>li.active{ color:#A8A8B3;}
.breadcrumb>li>a{ font-size:12px; color:#3A8BFF; display:block; max-width:100px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.breadcrumb>li>a:hover{ text-decoration:underline;}
.breadcrumb>li+li { background:url(/res/pc/images/notice/breadcrumb.png) no-repeat 4px center; padding-left:14px;}


.PlusIcon{display:inline-block;width:12px;height:12px;margin-right:6px;vertical-align:middle;margin-top:-2px;}



/*********Reset************/
body{background: #f2f4f7;}
.box{width:100%;height:100%; position: relative;}
.Header{width:100%;height:52px;background: #FFFFFF;box-shadow: 0 1px 12px 0 rgba(1,39,78,0.12);position: fixed;top:0;left:0;z-index:4;padding:0 30px;    box-sizing: border-box;}
.Logo{min-width:138px;height:28px;margin-top:13px;}
.headRight{padding-top:11px;}
.backOld{display:inline-block;font-size: 14px;color: #91A0B5;background: #F7FAFC;border: 1px solid #E1EBFA;border-radius: 20px;width:98px;height:28px;text-align:center;line-height:28px;}
.backOld:hover{background: rgba(247,250,252,0.7);color: rgba(145,160,181,0.7);}
/*****登陆后*******/
.loginAfter{margin-left:40px;}
.headPic{display:inline-block;width:30px;height:30px;border-radius:50%;overflow:hidden;margin-right:10px;}
.name{width:90px;position:relative;line-height:30px;height:34px}
.name p{max-width:68px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis; overflow: hidden;float:left;color: #181E33;font-size:14px;}
.name p:hover{color:#646873}
.arrowDown{display:inline-block;width:12px;height:12px;background:url(/res/pc/images/notice/arrowDown.png) no-repeat;margin-left:5px;float:left;margin-top:10px; -webkit-transition: -webkit-transform .2s ease-in;
    -moz-transition: -moz-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;}
	
/*气泡小弹窗开始*/	
.Bubble_Popup{width:116px;background: #FFFFFF;box-shadow: 0 2px 12px 0 rgba(175,187,204,0.75);border-radius: 6px;position:absolute;padding:6px 0;display:none}
.Bubble_Popup li{width:100%;height:48px;}
.Bubble_Popup li a{display:block;width:100%;height:48px;line-height:48px;text-align:center;font-size: 14px;color: #646873;}
.Bubble_Popup li a:hover{background: #F5F8FB;color: #3B90FF;}
/*气泡小弹窗结束*/

.loginCon li a i{display:inline-block;width:16px;height:16px;vertical-align:middle;margin-right:8px;margin-top:-1px;}
.loginCon{position:absolute;left:-25px;top:34px;height:0}
.loginCon li a i.user{background:url(/res/pc/images/notice/user.png) no-repeat}
.loginCon li a i.eidt{background:url(/res/pc/images/notice/eidt.png) no-repeat}
.loginCon li a:hover i.user{background:url(/res/pc/images/notice/user_hover.png) no-repeat}
.loginCon li a:hover i.eidt{background:url(/res/pc/images/notice/eidt_hover.png) no-repeat}
.name:hover .arrowDown{-moz-transform: rotate(180deg);-moz-transform-origin: 50% 30%;-webkit-transform: rotate(180deg);-webkit-transform-origin: 50% 30%;-o-transform: rotate(180deg);-o-transform-origin: 50% 30%;
transform: rotate(180deg);transform-origin: 50% 30%;    margin: 12px 0 0 8px;    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}

/******左侧开始*****/
.nav_side{width:180px;height:100%;position: fixed;left: 0;top:0px; z-index: 2;background: #FFFFFF;box-shadow: 2px 0 10px 0 rgba(237,238,240,0.50);padding-top:52px;}

.classDl{width:138px;margin:0 auto;margin-top:30px}
.classDl dt{width:138px;height:78px;border-radius:6px;overflow:hidden;position:relative;}
.classDl dt:hover{filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;}
.classDl dt span{display:inline-block;width:100%;height:24px;background:rgba(0,0,0,0.2);position:absolute;bottom:0;left:0;text-align:center;line-height:24px;font-size:12px;color:#fff;}
.classDl dt span .left_join{display:inline-block;width:10px;height:10px;vertical-align:middle;background:url(/res/pc/images/notice/left_join.png) no-repeat;margin-left:4px;margin-top:-2px;}
.classDl dd{font-size: 16px;text-align:center;width:100%;line-height:21px;margin-top:12px;}
.nav-content{margin-top:8px; padding-bottom:30px;}
.nav-content ul{border-bottom:2px solid  #F8F8F8;padding:12px 0;}
.nav-content ul:last-child{border-bottom:none}
.nav-content ul li{width:100%;height:54px;text-align:center;position: relative;}
.nav-content ul li a{display:block;width:100%;height:54px;line-height:54px;font-size: 14px;color: #737886;}
.nav-content ul li a:hover{background:#f6f9fd}
.nav-content ul li a i{display:inline-block;width:24px;height:24px;background:url(/res/pc/images/notice/nav_icon.png) no-repeat;background-size:1000%;vertical-align:middle;margin-right:6px;margin-top:-2px;}
.nav-content ul li a i.hd{background-position:0 0;}
.nav-content ul li a i.ppt{background-position:-24px 0;}
.nav-content ul li a i.zj{background-position:-48px 0;}
.nav-content ul li a i.zl{background-position:-72px 0}
.nav-content ul li a i.tz{background-position:-96px 0}
.nav-content ul li a i.tl{background-position:-120px 0}
.nav-content ul li a i.zy{background-position:-144px 0}
.nav-content ul li a i.ks{background-position:-168px 0}
.nav-content ul li a i.tj{background-position:-192px 0}
.nav-content ul li a i.gl{background-position:-216px 0}
.nav-content ul li.curNav a{color: #3B90FF;background:#f6f9fd}
.nav-content ul li.curNav a i.hd{background-position:0 -24px;}
.nav-content ul li.curNav a i.ppt{background-position:-24px -24px;}
.nav-content ul li.curNav a i.zj{background-position:-48px -24px;}
.nav-content ul li.curNav a i.zl{background-position:-72px -24px}
.nav-content ul li.curNav a i.tz{background-position:-96px -24px}
.nav-content ul li.curNav a i.tl{background-position:-120px -24px}
.nav-content ul li.curNav a i.zy{background-position:-144px -24px}
.nav-content ul li.curNav a i.ks{background-position:-168px -24px}
.nav-content ul li.curNav a i.tj{background-position:-192px -24px}
.nav-content ul li.curNav a i.gl{background-position:-216px -24px}




/******右侧开始*****/
.content{width:100%;min-width: 804px;border-radius: 6px;margin: 0;background: #f2f4f7; position: relative;left: 0;top:0px;}
.content .main{margin: 82px 30px 30px 210px;min-width: 1040px;background: #FFFFFF;box-shadow: 0 2px 10px 0 rgba(237,238,240,0.50);border-radius: 8px;position:relative}




/***************分页****************/
.pageDiv{text-align:center;padding:40px 0 0;}
.pageDiv a{display:inline-block;width:24px;height:24px;border-radius:50%;text-align:center;line-height:24px;color: #91A0B5;font-size:12px;margin:0 2px;}
.pageDiv a:hover{color: #3A8BFF;}
.pageDiv .prvePage i{display:inline-block;width:9px;height:14px;background:url(/res/pc/images/notice/page_prve.png) no-repeat;vertical-align:middle}
.pageDiv .nextPage i{display:inline-block;width:9px;height:14px;background:url(/res/pc/images/notice/page_next.png) no-repeat;vertical-align:middle}
.pageDiv .prvePage:hover i{filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;}
.pageDiv .nextPage:hover i{filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;}
.pageDiv a.curPage{background:url(/res/pc/images/notice/pageBg.png) no-repeat;color:#fff;    box-shadow: 0 2px 6px 0 rgba(39,125,255,0.30);}
.pageDiv .prve_page_disable i{display:inline-block;width:9px;height:14px;background:url(/res/pc/images/notice/disable_page_prve.png) no-repeat;vertical-align:middle}
.pageDiv .next_page_disable i{display:inline-block;width:9px;height:14px;background:url(/res/pc/images/notice/disable_page_next.png) no-repeat;vertical-align:middle}


/*开关与文字注解*/

.mui-switch { width:38px; height:20px; position: relative;  display: inline-block;background: #D0D5DB;border-radius: 14px;-webkit-appearance: none; user-select: none; outline: none; }
.mui-switch:before { content: ''; width:16px; height:16px; position: absolute; top: 50%; left:2px;top:2px; border-radius: 50%; background: #fff;; }
.mui-switch:checked { border-color: #3A8BFF;; box-shadow: #09f 0 0 0 .16rem inset; background-color: #09f; }
.mui-switch:checked:before { left:20px; }
.mui-switch.mui-switch-animbg { transition: background-color ease 0.4s; }
.mui-switch.mui-switch-animbg:before { transition: left 0.3s; }
.mui-switch.mui-switch-animbg:checked { box-shadow: #dfdfdf 0 0 0 0 inset; background-color: #3A8BFF;transition: border-color 0.4s, background-color ease 0.4s; }
.mui-switch.mui-switch-animbg:checked:before { transition: left 0.3s; }

/*8.14红点*/
.redRound{display:inline-block;width:6px;height:6px;border-radius:50%;background:#F33F34;position:absolute;top:18px;right:51px}
.into_ItemBank{margin:0 auto;width:102px;height:74px;}
.into_ItemBank a{display:inline-block;width:100px;height:32px;border: 1px solid #EFEFF5;;border-radius: 16px;text-align:center;line-height:32px;font-size: 14px;color: #91A0B5;}
.into_ItemBank a:hover{background: #F7FaFF;border: 1px solid #F1F1F7;}
.into_ItemBank a:active{background: #f5f7fc;border: 1px solid #F2F2F7;}

@font-face {font-family: "into_tiku_Icon";
  src: url('iconfont.eot?t=1565787755054'); /* IE9 */
  src: url('iconfont.eot?t=1565787755054#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKUAAsAAAAABjwAAAJIAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApEXwE2AiQDCAsGAAQgBYRtBzMbiAXInpo8KVKFgKKhgicHYIB4+P/9vu1z330j7nGiaRJN1gwo4RPFQmJ1yFBndUIiFDz0v/9rmgIaFVVVllUjUkV9kH/A+Sk9P2FQs57xKNxOqFUuT6J200Cv3ee5nN5dBRTI/EC5jDForEmTegH14kAKdKxBkZVQzg1jF7zA4wQajGgr7JxcTaEus8cF4oXnGFAv+GSZJeuEmoalWXxUqkuv0hfwIfp+/DOMOklZsMuO745t2PvJSSsq1YqrgOAnoNUlCiwBmThvjB0qCcYsaYiVTYBjFQc/VauBVRz1zxM17MImMATFzyTxpI+aTPBYPXUAfZOuJjr09O7b50+9i/nDyy9vumf3la63/v+3d/75bqd95K2vmV1eEPpze9DP0td0IxCMHjw+3bau/NcbM/iRIDJmwxzU7cMe/AvJwKZsyGxLypqksT3pOEdFgwZUYVeHfKq++8SpUKd7gqPWcIZCnSkyM5ZQarSMGnXW0WDR6epGnVhJ5HosuAYIbd6RtHhCoc03mRm/KPXYoUZblNDgMjq3bDQTXnObyRCy0dyiZyWxcm3SjIvH5CxDg/OyiDUn1l4QB91+OXlKMfESM/TKGYooVJxEeAJOozBMMOXEJ0u6rkg66vVU05u6VhJB0zZGDILYkGkLeSyJmAo6i2bl82PEsRQycEdDnX+OMM3rHw109QeQp+p4UMOjvKKtOIaEUJDCEhF0AgaRUCiB0uZBPmIRXe6ESGqk57RSQ9Xd7bXR3+2CBrYhhTOnUP/Mi3kpXrAEAAAA') format('woff2'),
  url('iconfont.woff?t=1565787755054') format('woff'),
  url('iconfont.ttf?t=1565787755054') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1565787755054#iconfont') format('svg'); /* iOS 4.1- */
}

.into_tiku_Icon {
  font-family: "into_tiku_Icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:inline-block;vertical-align:middle;margin-top:-2px;
}

.into_tiku_Icon:before {
  content: "\e606";
}

/*公共二级导航*/
.subNav{width:100%;height:40px;background: #3A4357;box-shadow: 0 2px 17px 0 rgba(211,211,211,0.50);text-align:center;line-height:40px;font-size: 16px;
color: #A8A8B3;position:fixed;left:0;top:0;z-index:2}
.het40{height:40px;width:100%}
.sub-button a{display:inline-block;width:94px;height:40px;border-left:1px solid #313A4C;font-size: 14px;color: #FFFFFF;}
.sub-button a:hover{background:#48536B;}
.sub-button a:active{background:#32394A;color:rgba(255,255,255,0.7);}
.sub-button a.completeBtn{ background:#3A8BFF;}
.sub-button a.completeBtn:hover{ background:#5CA0FF;}
.sub-button a.completeBtn:active{background:#2F70CC;color:rgba(255,255,255,0.7);}
.subBack{font-size: 14px;color: #878996;margin-left:30px;}
.subBack:hover{color:#A8A8B3;}

@font-face {font-family: "BackIcon";
  src: url('iconfont.eot?t=1565764956848'); /* IE9 */
  src: url('iconfont.eot?t=1565764956848#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK8AAsAAAAABmQAAAJvAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApkdQE2AiQDCAsGAAQgBYRtBzwbpwXIHpKkBw2H8xzidxQkQIiH/1/7/T4zdxD3xKKKZdFEZJEIhfYqeKiiJREimVDsW6j/4Jr3YfvRADO8yuZRRaMGHQ8rMW0NuNlmj4u+nHMIwr4wQ1k1IoU+l36SAn3ZiLnNWvSJe6d/BRTIfEC5rj1pUhdQFwcU6B7YJiuhjBvGLniB5wlU6SOArG1O10JDYk8LxLEhWaFRCEoSy1QIZQ1rk7iBQkV2iu6B6+j78Rtmo0GmyNk1m0drvTD7xJ0crPQvwUFAQIiANhfIMQMkYrcxua4sGBtTtb1iCEiS4DP9/9gsjmoQ7K+zy2tAD0wFn8kTP2pFBorOPqA3TXos0Rct1lotrmeh1f1qtyPtcyi1iIdG6XWU+sDKRDPk7dfP888H8+5feLnte97X5erbV015U9XETJcECjP0s/wdJSEQHP4z/Z192bWCksDHydsW6ZNhbip25wp+i2hgRzIktilLmqixN9N3uroqVfgP2NvkNFXbeg/ZUKF1grtcb4ZchREysWZQqDaHMhUWUWWacXO1ZhllkSoxpQoQGvSRqfOGXIMDmVhHFNqQKNMQZVTZD9qe1cbCaGkJWYQ6eHIIc88VriVqxZVnlLHNKC+JOHek0IiAVCQpZ7boIi2xIJvIaS4SECDPAQO4DG3bgxR5JvJoGIoiXxOLA01vGno9p9CyiiAmgnTAIwfCOI9LBP0jrcrnz5AUszHU0VYXvkMkZAwPpEQkA8it0h3U9ijXZCWkqZyIAAKIxwEMYBSy2Twg1TzKhLjIUGhC3KcRO90CQ5XD7dXO3x2AKrYuC2ePXNMRc1VsDPIKXckV8x0DAAAAAA==') format('woff2'),
  url('iconfont.woff?t=1565764956848') format('woff'),
  url('iconfont.ttf?t=1565764956848') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1565764956848#iconfont') format('svg'); /* iOS 4.1- */
}
.BackIcon {  font-family: "BackIcon" !important;  font-size: 17px;  font-style: normal;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  margin-right:6px;}
.BackIcon:before {  content: "\e604";}


/*右侧下载按钮*/
.DownloadaDiv{position:fixed;right:20px;bottom:94px;box-shadow: 0 1px 7px 0 rgba(198,204,217,0.58);border-radius: 4px;}
.Downloada{display:inline-block;overflow:hidden;width:40px;height:40px;background: #FFF;border-radius: 4px;overflow:hidden}

@font-face {font-family: "Downloada";
  src: url('iconfont.eot?t=1565774708653'); /* IE9 */
  src: url('iconfont.eot?t=1565774708653#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABqAAAAKJAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBIIEZATYCJAMICwYABCAFhG0HPBvLBcgOJQkRrYANBoBBPHy/xu/ct2+/uCex5FmMEElMJ/6GeSXhIVuoDM2yZ/L+75r+AXHcCEHhQe6aHr40A24HQqNQU8BqdiwcoAT0M+Ca+gn0IL84oLl1UlRyJOAEB9qBa7INZAC+YXr5AgfiPIEGI9I4HTS09YGnTE8LxDUic+BZCMoyy9QJNQ1rs3jITV26la6BB9H34x8shydJWdA1x1frRaj6WZocl8vKDoMBIQQC2lyiwBKQifPG5CEXwTgXDUlXE+BYlcFPt/8qcIij/nmihi5vAkNQ9kxyp3jU8gRykl4GtjCbR6aeoZmN09vv+wRG9O5kf9YYdGc1pvHWWYy8uhmOdzMNTs+/FHgffI4F7xdv2MN2nFzr21eDvN5830B83H3C/dXdXTjR29QZFPxTWnNy7h9V2Xd+eA3YdfuA1+2OvYrqedjjzwQ3OhNbRgLK/ns2ZvB16o+hCZXdFYpLoO4EruBHyQd2ZaHUzpSvpA3qsDxpakKDBlSAvR3up5q67yob6nTfm7vWcIZCnSkys0soNVpFjTrbaLCocXOjTpSLyPVYsAIQ2mwjafEJhTY3ZGbvUOrxjhpt4YIGVyJkz0YzQbxrKeYYFhE/hYhg6JJ1Mu+4sgfLYypH88qIH8DURiIoOyOrnGnEOqZLLLCNyzmMSUiihoYawGVYVQ1kUsOKBZZhYcwsycyUmt6UIRgaeNtHYRwGEyG8KQghMOikYDDjXfl8D0w2RsWhHXW55ACMsiHDI9kyZA0gG3X6oLpHucZmnCwHw0gQCWXQIA1gFKZSGRCzeZQVJmAyWCbETSUyTT9pqC5je4P2A6WsCW1OYeYUOq4Tbpoj0xZDl9NCPZ3nCAAAAAA=') format('woff2'),
  url('iconfont.woff?t=1565774708653') format('woff'),
  url('iconfont.ttf?t=1565774708653') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1565774708653#iconfont') format('svg'); /* iOS 4.1- */
}

.Downloada {
  font-family: "Downloada" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#3A8BFF;
  text-align:center;line-height:40px;
}
.Downloada em{font-size: 13px;color: #FFFFFF;display:inline-block;min-width:12px;height:18px;background: #F33F34;line-height:18px;border-radius:10px;font-style:normal;position:absolute;right:-7px;top:-9px;font-family: PingFangSC-Regular;padding:0 3px;}
.Downloada:before {  content: "\e605";}
.Downloada:hover{color:#fff;background:#3A8BFF;}
.DownloadaHover{position:absolute;right:50px;bottom:0px;width: 82px;height:40px;background: rgba(24,30,51,0.80);border-radius: 4px;margin-left: -28px;opacity: 0; visibility: hidden;-webkit-transition: opacity 0.3s 1s, visibility 0s 0.3s;transition: opacity 0.3s 1s, visibility 0s 0.3s;text-align:center;line-height:40px;color:#fff;}
.DownloadaHover i{ display:block; width:0px; height:0px; border:solid rgba(24,30,51,0.80) 4px; position:absolute; right:-8px; top:16px; bottom:auto; border-color:rgba(24,30,51,0.80) transparent transparent transparent;transform:rotate(-90deg);}
.bntHoverTips i.active{ display:block; width:0px; height:0px; border:solid rgba(24,30,51,0.80) 4px; position:absolute; left:50%; margin-left:-4px; bottom:40px; top:auto; border-color:transparent transparent rgba(24,30,51,0.80) transparent;}
.DownloadaDiv:hover .DownloadaHover{ display:block; opacity:1; visibility:visible; 
	-webkit-transition:opacity 0.3s 1s, visibility 0.3s 1s; 
	transition:opacity 0.3s 1s, visibility 0.3s 1s;}



















